

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 200px ;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* shared style */
.text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color:#FD6E0A ;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    padding: 18px 35px;

}